.button {
  display: inline-block;
  color: $primary;
  text-decoration: none;
  border: 2px solid $primary;
  transition: 0.4s all ease;

  &.pill {
    @include rems(padding, 0.2, 2);
    @include border-radius(40px);
    @include font-size(1.4, 2);

    &:hover {
      background: $primary;
      color: #fff;
    }
  }
}
